[submodule "beamer"]
	path = beamer
	url = https://github.com/qychen2001/ZJU-Beamer-Template
[submodule "latex_exp"]
	path = latex_exp
	url = https://github.com/Phil-Fan/Latex_exp
[submodule "reveal-md"]
	path = reveal-md
	url = https://github.com/Phil-Fan/reveal-md.git
[submodule "PPT"]
	path = PPT
	url = https://github.com/Phil-Fan/PPT
